a {text-decoration: none;}
img {height: auto;}
h1, h4, h6 {text-align: center;}
h4 {padding-bottom: 5vw;}
strong {font-size: 2.1vw;}

.box {
    background-image: linear-gradient(#212325, #ffffff00);
    padding: 2vw;
    border-radius: 3vw;
    height:24vw;
    width:24vw;
    text-align: center;
    transition: 0.3s;
    margin: 1vw;
}
.box:hover {
    background-color: #141416;
}
.grid > a:focus {
    background-color: #00000000;
}
.box > img {
    -webkit-user-drag:none;
}

.headerdiv { 
    width: auto;
    height: auto;
}
#img1 {height: auto; width: 13vw;}
#img2 {height: auto; width: 18vw;}
#img3 {height: auto; width: 10vw;}
#img4 {height: auto; width: 10vw; padding: 1vw;}
#img5 {height: auto; width: 11vw; padding: 1vw;}
#img6 {height: auto; width: 11vw; padding: 1vw;}

@media screen and (max-width: 1000px) {
    .box {
        width: 60vw;
        height: 60vw;
        padding: 10vw;
    }
    
    strong {font-size: 6vw;}
    p {font-size: 3vw;}

    #img1 {height: auto; width: 26vw;}
    #img2 {height: auto; width: 32vw;}
    #img3 {height: auto; width: 20vw;}
    #img4 {height: auto; width: 20vw; padding: 2vw;}
    #img5 {height: auto; width: 22vw; padding: 2vw;}
    #img6 {height: auto; width: 22vw; padding: 2vw;}
}