a {text-decoration: none;}
img {height: auto;}
h1, h4, h6 {text-align: center;}
h4 {padding-bottom: 5%;}
strong {font-size: xx-large;}
.box {
    background-image: linear-gradient(#212325, #ffffff00);
    padding: 5%;
    border-radius: 10%;
    height:360px;
    width:360px;
    text-align: center;
    transition: 0.3s;
}
.box:hover {
    background-color: #141416;
}
.headerdiv {
    height: 60px; 
    width: 100%; 
    height: auto;
}
#img1 {height: auto; width: 250px;}
#img2 {height: auto; width: 350px;}
#img3 {height: auto; width: 180px;}
#img4 {height: auto; width: 170px; padding: 20px;}
#img5 {height: auto; width: 170px; padding: 25px;}
#img6 {height: auto; width: 175px; padding: 10px;}