body {
    background-color: #373940;
    padding-top: 10vw;
}

@media screen and (max-width: 1000px) {
    main {
        margin-top: 15vw;
    }
    .hide_on_mobile {
        display: none;
    }
}


/* navbar and footer css */
.navbar {
    padding: 2vw 20vw;
    background-color: #222427; 
    transition: all 0.4s ease;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
}
.navimg {
    height: auto; 
    width: 4vw;
    transition: all 0.4s ease;
}
.navtext {
    font-size: 2.5vw; 
    color: white;
    transition: all 0.4s ease;
}
.footer {
    padding: 2vw;
    background-color: #222427; 
}
.contrast {
    font-size: 1.3vw;
}

@media screen and (max-width:1000px) {
    .navimg {
        width: 6.5vw;
        margin: 0 auto;
    }
    .navtext {
        font-size: 5vw;
    }    
}

/* blur and move on load */
div {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(3vw);
    transition: all 0.4s ease;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* boxes with content */
.webbox_parent, .webbox_parent_yt {
    width: 110%;
    overflow: hidden;
    transform: translateX(-4%);
}

@media screen and (max-width:1000px) {
    .webbox_parent_yt {
        transform: translateX(-10%);
    }
    .webbox_parent {
        margin: 1vw;
        width: 100%
    }
}

.webbox {
    background-color: #212325;
    padding: 1.5vw;
    border-radius: 20px;
    height:auto;
    width:48%;
    margin:1%;
    transition: 0.3s;
    position: relative;
    transition: all 0.4s;
    float: left;
}
.webbox:hover {
    background-color: #121314;
}

.webtext,.webtext_small {
    text-decoration: none;
    font-size: 27px;
    color:#e6e6e6;
}
.webtext_small {
    font-size:1.2vw;
}

@media screen and (max-width:1000px) {
    .webtext_small {
        display: none;
    }

    .webbox {
        width: 90%;
        margin: 10px;
        padding: 15px;
        text-align: center;
        border-radius: 15px;
    }
}
