body {
    background-color: #373940;
    padding-top: 20vh;
}

@media screen and (max-width: 1000px) {
    main {
        margin-top: 13vw;
    }
    .hide_on_mobile {
        display: none;
    }
}

/* navbar and footer css */
#navbar {
    padding: 2vw 20vw;
    background-color: #222427; 
    transition: all 0.4s ease;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
}
#navimg {
    width: 4vw;
    transition: all 0.4s ease;
}
#navtext {
    font-size: 2.5vw; 
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
}
#footer {
    padding: 2vw;
    background-color: #222427; 
    display: flex;
    flex-direction:column;
    align-items: center;
}
#navbar > ul > li > .contrast {
    font-size: 1.3vw;
}

@media screen and (max-width:1000px) {
    .navimg {
        width: 6.5vw;
        margin: 0 auto;
    }
    .navtext {
        font-size: 5vw;
    }    
}

/* blur and move on load */
div {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(3vw);
    transition: all 0.4s ease;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* boxes with content */
.webbox_parent_yt {
    width: 110%;
    height: fit-content;
    overflow: hidden;
    transform: translateX(-4%);
}

@media screen and (max-width:1000px) {
    .webbox_parent_yt {
        transform: translateX(-10%);
    }
}

.webbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212325;
    padding: 1vw;
    border-radius: 2vmin;
    height:fit-content;
    width:100%;
    margin:1vh;
    transition: 0.3s;
    transition: all 0.4s;
    overflow: hidden;
}
.webbox:hover {
    background-color: #121314;
}

.webtext,.webtext_small {
    text-decoration: none;
    font-size: 1.2em;
    color:#e6e6e6;
    margin-bottom: 0.1vh;
}
.webtext_small {
    font-size:0.7em;
    text-align: right;
}
.centered {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 98vw;
    align-items: center;
}
#ytThumbsPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16 / 9;
    width: 100%;
}

@media screen and (max-width:1000px) {
    .webtext_small {
        display: none;
    }

    .webbox {
        width: 90%;
        margin: 10px;
        padding: 15px;
        text-align: center;
        border-radius: 15px;
    }
}
