.ytlist {
    list-style-type: none;
    list-style: none;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    display: block;
}
.small {
    width: 150px;
    height: auto;
    display:block;
    float: left;
    padding: 5px;
}
#ytThumbsPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16 / 9;
    width: 100%;
}