<!doctype html>

<head>
  <base href=".">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/channellist.css">
  <link rel="shortcut icon" href="assets/logo.png">
  <title>Channels - TitanPlayz</title>
  <script defer src="scripts/app.js"></script>
</head>

<script type="module">
  import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'
  import ChannelData from './channel_list/subscriptions.json' with { type: "json" };

  const cdata = reactive(ChannelData)

  const intersection = new IntersectionObserver(entries =>
    entries.forEach(entry =>
      entry.isIntersecting
        ? entry.target.classList.add('visible')
        : entry.target.classList.remove('visible')
    )
  );

  function ChannelBox(props) {
    return {
      $template: '#channel-template',
      data: props.data,
      shouldShow: (filter) => props.data.name.toLowerCase().includes(filter.toLowerCase()),
      mount: (el) => { intersection.observe(el); el.classList.remove('visible') }
    }
  }

  createApp({ cdata, ChannelBox, filter: '', intersection }).mount()
</script>

<template id="channel-template">
  <a :href="data.link" class="channelbox" @vue:mounted="mount($el)" :class="shouldShow(filter) ? 'visible':'hidden' ">
    <div class="show channelNameIcon">
      <img class="channelimg" loading="lazy" :src="data.pfp" />
      <p class="channelname">{{data.name}}</p>
    </div>
    <p class="channeldescription">{{data.desc}}</p>
  </a>
</template>

<body>
  <main class="container">
    <div>
      <h1>CHANNELS</h1>
      <p>Have a look through all these great channels, most who post tetris content just like me!<br>DM me if u don't
        see a channel u wanted</p>
      <input type="text" v-scope v-model="filter" id="input" placeholder="Search for channels..">
      <hr>
    </div>
    <div class="webbox_parent_yt" id="channel-container">
      <div v-scope="ChannelBox({ data: channel })" v-for="(channel, index) in cdata" :key="index" class="show"></div>
    </div>
  </main>
</body>

</html>