<!doctype html>

<head>
  <base href=".">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="assets/logo.png">
  <title>Resources - TitanPlayz</title>
</head>

<script type="module">
  import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'
  import Resource_Data from './scripts/resources.json' with { type: "json" };
  const resourceData = reactive(Resource_Data);

  function Resource(props) {
    return { $template: '#resource-template', data: props }
  }

  function ResourceGroup(props) {
    return { $template: '#resourcegroup-template', data: props }
  }

  createApp({ Resource, ResourceGroup, resourceData }).mount()
</script>
<script defer src="scripts/app.js"></script>

<template id="resource-template">
    <a :href="data.url" class="webtext">
      <div class="webbox">
        <p class="webtext"><strong>{{data.title}}</strong></p>
        <p class="webtext_small">{{data.desc}}</p>
      </div>
    </a>
  
</template>

<template id="resourcegroup-template">
  <h2>{{data.name}}</h2>
  <div v-scope="Resource(resource)" v-for="(resource, index) in data.items" :key="index" class="show"></div>
  <h1></h1>
  <hr>
</template>

<body>
  <main class="container">
    <h1>RESOURCES</h1>
    <hr>
    <div v-scope="ResourceGroup({ name: group, items: resources })" v-for="(resources, group) in resourceData" :key="group" class="show"></div>
  </main>
</body>

</html>