body {
    background-color: #373940;
}
main {
    margin-top: 100px;
}
#navbar {
    padding: 2% 20%;
    background-color: #222427; 
    transition: 0.4s;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}
.footer {
    padding: 2%;
    background-color: #222427; 
}
.box {
    background-image: linear-gradient(#212325, #ffffff00);
    padding: 5%;
    border-radius: 10%;
    height:360px;
    width:360px;
    text-align: center;
    transition: 0.3s;
}
.box:hover {
    background-color: #141416;
}
div {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(40px);
    transition: all 0.4s;
}
.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
}
.webbox {
    background-color: #212325;
    padding: 20px;
    border-radius: 25px;
    height:auto;
    width:48%;
    margin:1%;
    transition: 0.3s;
    position: relative;
    transition: all 0.4s;
    float: left;
}
.webbox:hover {
    background-color: #121314;
}
.webtext,.webtext_small {
    text-decoration: none;
    font-size: x-large;
    color:#e6e6e6;
}
.webtext_small {
    font-size:large;
}
.webbox_parent {
    width: 100%;
    overflow: hidden;
}